{% extends "_app.twig" %}
{% from '../../components/header/template-1.twig' import headerTemplate1 %}

{% block layout %}
    <div class="app">
        {{ headerTemplate1({
            global: global
        }) }}
        <main class="app__main">
            {% block page %}{% endblock %}
        </main>
        {{ footer({
            global: global
        }) }}
    </div>
{% endblock %}