.header {
  min-height: rem(60);
  &__container {
    @include transitionSlow(background-color, box-shadow);
  }
  &--fixed {
    .header {
      &__container {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        background-color: $color_white;
        box-shadow: $box_shadow;
        z-index: 50;
      }
    }
  }
}